body {
  font-family: Arial, Helvetica, sans-serif;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
  margin-left: 10px;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch; /* to restore the dims of add button */
  margin-left: 0;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}

.add-todo-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
}
.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 24px;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
